.layout {
	display: flex;
	height: 100vh;
}
.aside {
	width: 300px;
	background: #f6f4f6;
}
.aside header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background: #e6f7ff;
}
.main {
	flex: 1;
}
